<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf49p1wMcfG3A9mYhoULIVoua35UUVpwg</string>
	<key>GCM_SENDER_ID</key>
	<string>685532936730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.Rex</string>
	<key>PROJECT_ID</key>
	<string>rexapp-14320</string>
	<key>STORAGE_BUCKET</key>
	<string>rexapp-14320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685532936730:ios:9b66f0ec74fc8852b52fa3</string>
</dict>
</plist>